* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(119, 20, 20);
  color: white;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}
